.loading-container {
  min-height: 100px;
  height: 100%;
  position: fixed;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;

  .loading {
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
  }
}
