<div class="col-md-8">
    <h3><a href="#project/<%= id %>"><%= title %></a> <a href="<%= reference %>" target="_blank"><i class="fa fa-external-link"></i></a></h3>
</div>
<div class="col-md-4">
    <div class="btn-group pull-right">
        <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-cog fa-fw"></i>
        </button>
        <ul class="dropdown-menu pull-right">
            <li><a href="#" data-action="trigger-new-build"><i class="fa fa-rotate-right fa-fw"></i> Start new build</a></li>
            <li><a href="#project/<%= id %>/settings"><i class="fa fa-cog fa-fw"></i> Settings</a></li>
        </ul>
    </div>
</div>