<form class="form" data-parsley-validate>
    <div class="row">
        <div class="header">
            <div class="col-md-12">
                <label>Naam</label>
                <div class="form-group">
                    <input type="text" name="name" class="form-control input-lg" placeholder="Naam" value="<%= name %>" required="required">
                    <small class="help-block">De titel van je template. Bijvoorbeeld: <em>Inhoud</em></small>
                </div>
            </div>
            <div class="col-md-12">
                <button class="btn btn-xs btn-success" type="submit"><i class="fa fa-check"></i> Opslaan</button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <textarea class="form-control js-codemirror" name="body"><%= body %></textarea>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 text-right">
            <button class="ui btn btn-link" type="reset">Annuleer en ga terug</button>
            <button class="btn btn-success" type="submit"><i class="fa fa-check"></i> Opslaan</button>
        </div>
    </div>
</form>